header{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 9999999;
}

.btn1{
    background: black;
    color: white;
    position: relative;
    left: 950px;
    top: 20px;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.btn2{
    background: rgb(214, 214, 214);
    color: black;
    position: relative;
    left: 955px;
    top: 20px;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.text1{
    font-size: 60px;
    line-height: 61px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    word-spacing: 15px;
    position: relative;
    top: 200px;
}
.text2{
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    position: relative;
    top: 220px;
color: rgba(0, 0, 0, 0.795);
}
.btn3{
    width: 150px;
    height: 35px;
    color: white;
    background: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: relative;
    top: 240px;
    left: 600px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.svg1{
    position: relative;
    left: -7px;
    top: 2px;
}